/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.shadow {
    box-shadow: 0rem .21rem 4rem .75rem rgba(0, 0, 0, 0.51) !important;
}
.navbar {
    padding: 25px;
    margin: 0px;
}
.nav-item:hover {
    
    background-color: rgb(53 160 121);
    border-color: rgb(53 160 121);
    box-shadow: 0rem .2rem 0.50rem .2rem rgb(21 76 86 / 0.32) !important;
}
a.text-dark:hover {
    color: #ffff !important;
}
.primary-bg-color {
    background-color: #392a55;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #00b271;
}

a:hover {
    color: rgb(226 140 3);
}

.btn-primary {
  color: #fff;
  background-color: #392a55;
  border-color: rgb(21 76 86 / 1.00);
}

    .btn-primary:hover {
        background-color: rgb(53 160 121);
        border-color: rgb(53 160 121);
        box-shadow: 0rem .2rem 0.50rem .2rem rgb(21 76 86 / 0.32) !important;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgb(21 76 86 / 1.00);
  border-color: #392a55;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
